@import "../../../styles.scss";

.traveling-table {
    border-radius: 12px;
    @include card-style;
    .table-header {
        display: grid;
        grid-template-columns: repeat(5, minmax(200px, 1fr));
        border: 1px solid black;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        > *:not(:last-child) {
            border-inline-end: 1px solid black;
        }
        > * {
            padding: 10px;
            font-weight: 500;
            font-size: 2em;
            font-family: monospace;
        }
        .sorted-column {
            position: relative;
            @include hover-supported {
                &:hover {
                    background-color: darken($bgc-primary, 10%);
                    .sort-dir {
                        opacity: 1;
                    }
                }
            }
            .sort-dir {
                cursor: pointer;
                position: absolute;
                @include flex-vertically-center;
                justify-content: center;
                top: 50%;
                right: 10px;
                transform: translate(0, -50%);
                font-size: 24px;
                font-weight: 600;
                transition: color 0.3s;
                @include hover-supported {
                    opacity: 0;
                }
                &:hover {
                    color: $btn-primary;
                }
            }
        }
    }
}
