@import "../../../styles.scss";

.traveling-table {
    .table-header {
        display: grid;
        grid-template-columns: repeat(5, minmax(200px, 1fr));
        border: 1px solid black;
        > *:not(:last-child) {
            border-inline-end: 1px solid black;
        }
        >* {
            padding: 10px 5px;
            font-weight: 500;
            font-size: 2em;
            font-family: monospace;
        }
    }
}
