@import "../../../styles.scss";

.countries-modal {
    @include flex-column;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    gap: 8px;
    max-height: 200px;
    overflow-y: auto;
    top: 32px;
    left: 0;
    z-index: 20;
    .country-container {
        @include flex-vertically-center;
        cursor: pointer;
        gap: 5px;
        height: 20px;
        .country-flag {
            height: 100%;
        }
        &:hover {
            background-color: lighten($clr-accent, 40%);
        }
    }
}
