@import "../../../styles.scss";
.table-preview {
    position: relative;
    max-height: 60px;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    border: 1px solid black;
    border-block-start: unset;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;

    > * {
        @include flex-vertically-center;
        &:not(.notes) {
            border-inline-end: 1px solid black;
        }
    }

    > *:not(.remove-btn) {
        padding: 10px;
    }

    .flag-container {
        height: 60px;
        .flag {
            height: 100%;
            margin-inline: auto;
        }
    }
    .remove-btn {
        @include flex-vertically-center;
        justify-content: center;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $btn-secondary;
        border: none;
        border-radius: 2em;
        width: 20px;
        height: 20px;
        font-size: 10px;
        font-weight: 600;
        color: white;
        transition: background-color 0.3s;
        cursor: pointer;
        @include hover-supported {
            opacity: 0;
            transition: opacity 0.3s;
            &:hover {
                background-color: darken($btn-secondary, 15%);
            }
        }
    }

    &:hover {
        background-color: darken($bgc-primary, 5%);
        .remove-btn {
            opacity: 1;
        }
    }
}
