@import "../../../styles.scss";
.table-preview {
    max-height: 60px;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    border: 1px solid black;
    border-block-start: unset;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;

    > *:not(:last-child) {
        @include flex-vertically-center;
        border-inline-end: 1px solid black;
    }

    > * {
        padding: 10px;
    }

    .flag-container {
        height: 60px;
        .flag {
            height: 100%;
            margin-inline: auto;
        }
    }
}
