@import "../../../styles.scss";
.table-preview {
    position: relative;

    display: grid;
    grid-template-rows: repeat(5, 60px);
    width: 100%;

    border-inline-start: 1px solid black;
    border-block: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;

    > * {
        @include flex-vertically-center;
        &:not(.notes) {
            border-block-end: 1px solid black;
        }
    }

    > *:not(.remove-btn) {
        padding: 10px;
    }

    .flag-container {
        height: 60px;
        .flag {
            height: 100%;
            margin-inline: auto;
        }
    }
    .remove-btn {
        @include flex-vertically-center;
        justify-content: center;
        position: absolute;
        bottom: 2px;
        right: 50%;
        transform: translate(50%, 0);
        background-color: $btn-secondary;
        border: none;
        border-radius: 2em;
        width: 20px;
        height: 20px;
        font-size: 10px;
        font-weight: 600;
        color: white;
        transition: background-color 0.3s;
        border-inline-end: unset;
        cursor: pointer;
        @include hover-supported {
            opacity: 0;
            transition: opacity 0.3s;
            &:hover {
                background-color: darken($btn-secondary, 15%);
            }
        }
    }

    &:hover {
        background-color: darken($bgc-primary, 5%);
        .remove-btn {
            opacity: 1;
        }
    }
}

@include for-small-layout {
}

@include for-wide-layout {
    .table-preview {
        grid-template-columns: repeat(5, minmax(200px, 1fr));
        max-height: 60px;
        border-inline-start: unset;
        border-block: unset;

        border-inline: 1px solid black;
        border-block-end: 1px solid black;
        font-size: 18px;

        > * {
            @include flex-vertically-center;
            border-inline-start: unset;
            &:not(.notes) {
                border-inline-end: 1px solid black;
                border-block-end: unset;
            }
        }
        .remove-btn {
            top: 10px;
            right: 10px;
            transform: unset;
            bottom: unset;
            border-inline-end: unset;
        }
    }
}
