<form (ngSubmit)="onAddTravel()" class="traveling-form" #addTravelForm="ngForm">
    <h2>Adding Travel</h2>
    <div class="form-item">
        <label for="country" class="form-label">Country:</label>
        <input id="country" type="text" class="form-input" autocomplete="off">
    </div>
    <div class="form-item date-input">
        <label for="startDate"  class="form-label">Start Date:</label>
        <input id="startDate" type="date" class="form-input">
    </div>
    <div class="form-item date-input">
        <label for="endDate" class="form-label">End Date:</label>
        <input id="endDate" type="date" class="form-input">
    </div>
    <div class="form-item notes">
        <label for="notes" class="form-label">Notes:</label>
        <input id="notes" type="text" class="form-input">
    </div>
    <button type="submit" class="submit" [disabled]="!addTravelForm.valid">Add</button>
</form>
