@import "../../../styles.scss";

.traveling-form {
    @include flex-column;
    @include card-style;
    gap: 10px;
    width: 50%;
    margin-inline: auto;
    border-radius: 12px;
    padding: 15px;
    margin-block-end: 20px;
    font-family: Arial, Helvetica, sans-serif;

    .form-item {
        @include flex-vertically-center;
        justify-content: space-between;
        &.country-form-container {
            position: relative;
            app-countries-modal {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
    }
    .form-label {
        font-family: monospace;
        font-size: 1.3em;
        font-weight: 600;
    }

    h2 {
        font-family: monospace;
        text-align: center;
        text-decoration: underline 2px solid $clr-accent;
        font-size: 2em;
        cursor: default;
        &:hover {
            text-decoration: underline 6px solid $clr-accent;
        }
    }

    input {
        position: relative;
        border-radius: 8px;
        border: 1.5px solid white;
        padding: 5px;
        transition: border-color 0.3s;
        &:focus-visible {
            outline: unset;
            border-color: $clr-accent;
        }

        &.ng-invalid.ng-touched {
            border-left-color: red;
            border-left-width: 2px;
        }

        &.valid-input {
            border-left-color: green;
            border-left-width: 2px;
        }
    }

    .selected-country-display {
        @include flex-vertically-center;
        position: relative;
        height: 60px;
        gap: 10px;
        font-size: 1.3em;
        .selected-country-flag {
            height: 100%;
        }

        .unselect-country-btn {
            @include flex-vertically-center;
            justify-content: center;
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: $btn-secondary;
            border: none;
            border-radius: 2em;
            width: 20px;
            height: 20px;
            font-size: 10px;
            font-weight: 600;
            color: white;
            transition: background-color 0.3s;
            cursor: pointer;
            &:hover {
                background-color: darken($btn-secondary, 15%);
            }
        }
    }

    .submit {
        margin-block-start: 15px;
        background-color: $btn-primary;
        border: none;
        font-family: cursive;
        font-size: 1.3em;
        border-radius: 12px;
        padding: 5px 10px;
        color: white;
        &:hover:not(:disabled) {
            background-color: lighten($btn-primary, 10%);
            box-shadow: 0 20px 80px -10px $btn-primary;
        }
        &:disabled {
            opacity: 0.4;
            cursor: not-allowed;
        }
    }
    .errors {
        font-size: 1.2em;
        color: red;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
            "Open Sans", "Helvetica Neue", sans-serif;
    }
}
