@import '../../../styles.scss';
.about-page {
    @include flex-column;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    // font-size: 18px;

    h2 {
        font-family: cursive;
        font-size: 28px;
    }

    p {
        margin-block-start: 10px;
        // line-height: 1.5;
    }

    li {
        margin-block-end: 10px;
    }

}