@mixin flex-vertically-center {
    display: flex;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin card-style {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: $card-bgc;
}