@mixin flex-vertically-center {
    display: flex;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin card-style {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: $card-bgc;
}

@mixin hover-supported {
    @media not all and (pointer: coarse) {
        @content;
    }
}

@mixin for-small-layout {
    @media (min-width: 800px) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: 1020px) {
        @content;
    }

}