@import "../../styles.scss";

.main-app {
    min-height: 100vh;
    @include flex-column;

    header {
        height: 80px;
        @include flex-vertically-center;
        justify-content: space-between;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        font-size: 1.4em;

        > * {
            @include flex-vertically-center;
            gap: 10px;
        }

        .logo-container {
            cursor: pointer;
            gap: 6px;
            .logo-txt {
                font-weight: 600;
                color: #000;
                letter-spacing: 1.2px;
                font-family: cursive;
            }
            .logo-svg {
                height: 32px;
                width: 32px;
            }
        }
    }

    main {
        flex-grow: 1;
    }

    footer {
        height: 80px;
        @include flex-vertically-center;
        justify-content: center;
        color: whitesmoke;
        background-color: #151515;
        font-size: 1.2em;
    }
}
