<section class="main-app">
  <header class="container">
    <div class="logo-container" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <img class="logo-svg" src="../../assets/icons/travel-icon.svg" />
      <span class="logo-txt">TravelIt</span>
    </div>
    <nav class="nav-container">
      <a routerLink="/about" routerLinkActive="active">About</a>
    </nav>
  </header>
  <main class="main-container container">
    <router-outlet></router-outlet>
  </main>
  <footer class="container">
    <p>TravelIt &copy; | Tomer Vardi</p>
  </footer>
</section>