// Imports
@import './assets/styles/setup/mixins';

// General settings
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}

button {
    font-family: inherit;
    cursor: pointer;
    * {
        pointer-events: none;
    }
}

input {
    font-family: inherit;
    text-align: inherit;
}

.container {
    padding-inline: 15px;
}